@model ApparelStoreUserPortal.Models.Customers

@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

}
<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group ">
                <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action">User Management</a>
                <a href="#" class="list-group-item list-group-item-action">Used</a>
                <a href="#" class="list-group-item list-group-item-action">Enquiry</a>
                <a href="#" class="list-group-item list-group-item-action">Dealer</a>
                <a href="#" class="list-group-item list-group-item-action">Media</a>
                <a href="#" class="list-group-item list-group-item-action">Post</a>
                <a href="#" class="list-group-item list-group-item-action">Category</a>
                <a href="#" class="list-group-item list-group-item-action">New</a>
                <a href="#" class="list-group-item list-group-item-action">Comments</a>
                <a href="#" class="list-group-item list-group-item-action">Appearance</a>
                <a href="#" class="list-group-item list-group-item-action">Reports</a>
                <a href="#" class="list-group-item list-group-item-action">Settings</a>


            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Your Profile</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group row">
                                    <label for="username" class="col-4 col-form-label">User Name*</label>
                                    <div class="col-8">
                                        <input asp-for="UserName" id="username" name="username" placeholder="Username" class="form-control here" required="required" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="name" class="col-4 col-form-label">First Name</label>
                                    <div class="col-8">
                                        <input asp-for="CustomerFirstName" id="name" name="name" placeholder="First Name" class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lastname" class="col-4 col-form-label">Last Name</label>
                                    <div class="col-8">
                                        <input asp-for="CustomerLastName" id="lastname" name="lastname" placeholder="Last Name" class="form-control here" type="text">
                                    </div>
                                </div>
                                @*<div class="col-md-5 mb-3">
                                    <label for="Gender">Gender</label>
                                    <select class="custom-select d-block w-100" id="gender" value="" required asp-for="Gender">
                                        <option value="@ViewBag.Customers.Gender">@ViewBag.Customers.Gender</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>TransGender</option>
                                    </select>

                                </div>*@
                                <div class="form-group row">
                                    <label for="select" class="col-4 col-form-label">Display Name public as</label>
                                    <div class="col-8">
                                        <select id="select" name="select" class="custom-select">
                                            <option value="admin">Vendor</option>
                                            <option value="admin">Customer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">Email*</label>
                                    <div class="col-8">
                                        <input asp-for="Email" id="email" name="email" placeholder="Email" class="form-control here" required="required" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">Phone Number</label>
                                    <div class="col-8">
                                        <input asp-for="PhoneNumber" id="phoneNumber" name="lastname" placeholder="Phone Number" class="form-control here" required="required" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">Alternate Phone Number</label>
                                    <div class="col-8">
                                        <input asp-for="AlternatePhoneNumber" id="lastname" name="lastname" placeholder="Alternate Phone Number" class="form-control here" required="required" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="publicinfo" class="col-4 col-form-label">Address</label>
                                    <div class="col-8">
                                        <textarea asp-for="Address" id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                                @*<div class="form-group row">
                                    <label for="select" class="col-4 col-form-label">State</label>
                                    <div class="col-8">
                                        <select asp-for="State" id="select" name="select" class="custom-select">
                                            <option value="@ViewBag.Customers.State">@ViewBag.Customers.State</option>
                                            <option>California</option>
                                            <option>Uttar Pradesh</option>
                                            <option>Punjab</option>
                                            <option>Delhi</option>
                                            <option>Madhya Pradesh</option>
                                            <option>Jammu </option>
                                            <option>Kashmir</option>
                                            <option>Andra Pradesh</option>
                                            <option>Kerala</option>
                                        </select>
                                    </div>
                                </div>*@
                                @*<div class="form-group row">
                                    <label for="select" class="col-4 col-form-label">Country</label>
                                    <div class="col-8">
                                        <div class="col-md-5 mb-3">
                                            <select asp-for="Country" id="select" name="select" class="custom-select">
                                                <option value="@ViewBag.Customers.Country">@ViewBag.Customers.Country</option>
                                                <option>United States</option>
                                                <option>India</option>
                                                <option>Russia</option>
                                                <option>America</option>
                                                <option>Nepal</option>
                                                <option>China</option>
                                                <option>Africa</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="form-group row">
                                    <label for="publicinfo" class="col-4 col-form-label">Alternate Address</label>
                                    <div class="col-8">
                                        <textarea asp-for="Address2" id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                                @*<div class="form-group row">
                                    <label for="select" class="col-4 col-form-label">Alternate State</label>
                                    <div class="col-8">
                                        <select asp-for="State2" id="select" name="select" class="custom-select">
                                            <option value="@ViewBag.Customers.State">@ViewBag.Customers.State</option>
                                            <option>California</option>
                                            <option>Uttar Pradesh</option>
                                            <option>Punjab</option>
                                            <option>Delhi</option>
                                            <option>Madhya Pradesh</option>
                                            <option>Jammu </option>
                                            <option>Kashmir</option>
                                            <option>Andra Pradesh</option>
                                            <option>Kerala</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="select" class="col-4 col-form-label">Alternate Country</label>
                                    <div class="col-8">
                                        <div class="col-md-5 mb-3">
                                            <select asp-for="Country2" id="select" name="select" class="custom-select">
                                                <option value="@ViewBag.Customers.Country">@ViewBag.Customers.Country</option>
                                                <option>United States</option>
                                                <option>India</option>
                                                <option>Russia</option>
                                                <option>America</option>
                                                <option>Nepal</option>
                                                <option>China</option>
                                                <option>Africa</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>*@

                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                        <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


