@model ApparelStoreUserPortal.Models.Customers

@{
    ViewData["Title"] = "userProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    <link rel="stylesheet" href="~/css/userProfile.css"/>
    <link rel="stylesheet" href="~/js/userEditProfile.js"/>
}
<!doctype html>
<html>
<head>
    <title>
        User Profile
    </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"  alt="" />
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            @Html.DisplayFor(model => model.CustomerFirstName)
                        </h5>  
                        <br/>
                    
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Residential Details</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <a asp-controller="home" asp-action="EditProfile" type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile">Edit Profile</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <br/>
                    <div>
                        <a asp-action="logout" asp-controller="Home" class="profile-edit-btn" >LogOut</a> |
                        <a asp-action="CustomerHistory" asp-controller="Home" asp-route-id="@ViewBag.id"  class="profile-edit-btn">Order History</a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">                             
                             <div class="row">
                                <div class="col-md-6">
                                    <label>User Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p> @Html.DisplayFor(model => model.UserName)</p>
                                </div>
                                <div class="col-md-6">
                                    <label>First Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>  <p>@Html.DisplayFor(model => model.CustomerFirstName)</p></p>
                                </div>
                                <div class="col-md-6">
                                    <label>Last Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p> @Html.DisplayFor(model => model.CustomerLastName)</p>
                                </div>
                                <div class="col-md-6">
                                    <label>Gender</label>
                                </div>
                                <div class="col-md-6">

                                    <p>  @Html.DisplayFor(model => model.Gender)</p>
                                </div>                     
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p> @Html.DisplayFor(model => model.Email)</p>
                                </div>                          
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p> @Html.DisplayFor(model => model.PhoneNumber)</p>
                                </div>                          
                             
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Permanent Address</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Html.DisplayFor(model => model.Address)</p>
                                </div>
                                <div class="col-md-6">
                                    <label>State</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Html.DisplayFor(model => model.State)</p>
                                </div>
                                <div class="col-md-6">
                                    <label>Country</label>
                                </div>
                                <div class="col-md-6">
                                    <p> @Html.DisplayFor(model => model.Country)</p>
                                </div>
                                <div class="col-md-6">
                                    <label>Zip Code</label>
                                </div>
                                <div class="col-md-6">
                                    <p> @Html.DisplayFor(model => model.ZipCode)</p>
                                </div>
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p> @Html.DisplayFor(model => model.PhoneNumber)</p>
                                </div>
                                <div class="col-md-6">
                                    <label>Alternate Address</label>
                                </div>
                                <div class="col-md-6">
                                    <p> @Html.DisplayFor(model => model.Address2)</p>
                                </div>
                                <div class="col-md-6">
                                    <label>State-2</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Html.DisplayFor(model => model.State2)</p>
                                </div>
                                <div class="col-md-6">
                                    <label>Country-2</label>
                                </div>
                                <div class="col-md-6">
                                    <p> @Html.DisplayFor(model => model.Country2)</p>
                                </div>
                                <div class="col-md-6">
                                    <label>Zip Code-2</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Html.DisplayFor(model => model.ZipCode2)</p>
                                </div>
                                <div class="col-md-6">
                                    <label>Alternate Phone No.</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Html.DisplayFor(model => model.AlternatePhoneNumber)</p>
                                </div>
                            </div>                                                  
                        </div>
                    </div>
                </div>
            </div>
         
        </form>
    </div>
   
</body>
</html>


