@model CoreApparelManagerPortal.Models.Customers

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}


<h2>Details of Customer</h2>
<div class="row">
    <div class="col-lg-4">
        &nbsp;
    </div>
    <div class="col-lg-4">

        <div class="form-group">
            <label for="CustomerFirstName">Customer First Name</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.CustomerFirstName)
            </div>

            <br />
            <label for="CustomerLastName">Customer Last Name</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.CustomerLastName)
            </div>
            @*<input type="text" class="form-control" asp-for="BrandName" />*@
        </div>
        <div class="form-group">
            <label for="UserName">User Name</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.UserName)
            </div>
            @*<input type="text" class="form-control" asp-for="BrandDescription" />*@
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.Email)
            </div>
            @*<input type="text" class="form-control" asp-for="BrandDescription" />*@
        </div>
        <div class="form-group">
            <label for="Gender">Gender</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.Gender)
            </div>
            @*<input type="text" class="form-control" asp-for="BrandDescription" />*@
        </div>
        <div class="form-group">
            <label for="PhoneNumber">Phone Number</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.PhoneNumber)
            </div>
            @*<input type="text" class="form-control" asp-for="BrandDescription" />*@
        </div>
        <div class="form-group">
            <label for="AlternatePhoneNumber">Alternate Phone Number</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.AlternatePhoneNumber)
            </div>
            @*<input type="text" class="form-control" asp-for="BrandDescription" />*@
        </div>
        <div class="form-group">
            <label for="Address">Address</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.Address)
            </div>
            @*<input type="text" class="form-control" asp-for="BrandDescription" />*@
        </div>
        <div class="form-group">
            <label for="Address2">Alternate Address</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.Address2)
            </div>
            @*<input type="text" class="form-control" asp-for="BrandDescription" />*@
        </div>
        <div class="form-group">
            <label for="Country">Country</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.Country)
            </div>
            @*<input type="text" class="form-control" asp-for="BrandDescription" />*@
        </div>
        <div class="form-group">
            <label for="Country2">Alternate Country</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.Country2)
            </div>
            @*<input type="text" class="form-control" asp-for="BrandDescription" />*@
        </div>
        <div class="form-group">
            <label for="State">State</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.State)
            </div>
            @*<input type="text" class="form-control" asp-for="BrandDescription" />*@
        </div>
        <div class="form-group">
            <label for="State2">Alternate State</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.State2)
            </div>
            @*<input type="text" class="form-control" asp-for="BrandDescription" />*@
        </div>
        <div class="form-group">
            <label for="ZipCode">Zip Code</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.ZipCode)
            </div>
            @*<input type="text" class="form-control" asp-for="BrandDescription" />*@
        </div>
        <div class="form-group">
            <label for="ZipCode2">Alternate Zip Code</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.ZipCode2)
            </div>
            @*<input type="text" class="form-control" asp-for="BrandDescription" />*@
        </div>
        <a asp-controller="customer" asp-action="Index"><button type="submit" class="btn btn-primary"> BackToList</button></a>

    </div>
    <div class="col-lg-4">
        &nbsp;
    </div>
</div>

